

body{
	
	background-color:#ff99c2;
	text-align:center;
}

h1{

background-color:#ffc2d2;
color:#fffafa;
}
/* Gestaltung der Links */
a:link {
	color:#fffafa;
	text-decoration:none;
}

a:visited {
	color:#ffc2d2;
}

a:hover{
	color:#ffc2d2;
	
}
ul{
	list-style:none;
}
#button{
	list-style-image: url("images/test2.gif");
}
li{
	margin: 10px 0px 0px 0px;
}
	
	
	
	
/* Gestaltung der Formulare */

legend {
	background-color: #ffc2d2;
	border: 1px solid #FFFFFF;
	border-radius: 10px;
	padding: 10px 20px;
	text-align: left;
	text-transform:uppercase;
}

label { 
	display: inline-block; width: 9em; 
}

fieldset {
	width: 450px;
	height:500px;
	background-color: #ffc2d2;
	border:1px solid #FFFFFF;
	border-radius: 10px;
	padding: 20px;
	text-align:left;
}

input{
  padding: 10px;
  border: none;
  border-bottom: solid 2px #ffffff;
  transition: border 0.3s;
  background-color: #ffc2d2;
}

textarea {
	padding: 10px;
	border: none;
	border-bottom: solid 2px #ffffff;
	transition: border 0.3s;
	background-color: #ffc2d2;
}
