

body{
	
	background-color:#F0ffF0;
	text-align:center;
}
main{
	background-color: #ffffff;
	width: 600px;
	
	margin: auto;
}
h1{

background-color:#ffc2d2;
color:#fffafa;
}
/* Gestaltung der Links */
a:link {
	color:#fffafa;
	text-decoration:none;
}

a:visited {
	color:#ffc2d2;
}

a:hover{
	color:#ffc2d2;
	
}
ul{
	list-style:none;
}
#button{
	list-style-image: url("images/test2.gif");
}
li{
	margin: 10px 0px 0px 0px;
}
	
	
	
	
/* Gestaltung der Formulare */

legend {
	background-color: #ffc2d2;
	border: 1px solid #FFFFFF;
	border-radius: 10px;
	padding: 10px 20px;
	text-align: left;
	text-transform:uppercase;
}

label { 
	display: inline-block; width: 9em; 
}

fieldset {
	width: 400px;
	height:350px;
	background-color: #ffc2d2;
	border:1px solid #FFFFFF;
	border-radius: 10px;
	padding: 20px;
	text-align:left;
	
}

input{
  padding: 20px;
  margin:30px;
  border: none;
  border-bottom: solid 2px #ffffff;
  transition: border 0.3s;
  background-color: #ffc2d2;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#333;
}


 
input.text{
	
	width:150px;
	margin:0 0 10px 3px; 
	padding:0; 
	border:0; 
	border-bottom:1px solid #333; 
	}
 
 
input.submit{
cursor:pointer;
font-size:14px; 
border:0; 
float:right;  
font-weight:bold;}

textarea {
	padding: 10px;
	border: none;
	border-bottom: solid 2px #ffffff;
	transition: border 0.3s;
	background-color: #ffc2d2;
}
